<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qthjen.weather">

    <uses-permission
        android:name="android.permission.INTERNET" >


    </uses-permission>


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".Weather"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".About"
            android:label="@string/aboutLabel"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
            <intent-filter>
                <action android:name="com.example.qthjen.weather.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Setting"
            android:label="@string/settingLabel"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.qthjen.weather.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TheNext7Days"
            android:label="@string/thenext3day"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.qthjen.weather.NEXTDAYS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>